<% unless @cats.empty? %>
var temporal_id = <%= Time.now.to_i %>
$(".cats").prepend("<div class='items new-items' id='" + temporal_id + "'><%=raw escape_javascript(render(@cats)) %></div>");

var current_cats = parseInt($("#page h3").text().split(" ")[0],10);
var new_cats = <%= @cats.size %>
current_cats += parseInt(new_cats, 10);
$("#page h3").text(current_cats + "  more cats since you last viewed!");

var current_cats_total = parseInt($("#page h5").text().split(" ")[0],10);
current_cats_total += parseInt(new_cats, 10);
$("#page h5").text(current_cats_total + "  total cats!");


$("#page-title").text(current_cats + " Cats - Real Time Updates");
<% end %>
